body {
    background-color: rgba(248, 248, 19, 0.452);
    font-family: Verdana;
}

.photo {
    border: 1px solid #505050;
    border-radius: 50%;
}

#title, .subtitle, .post_title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: white;
    padding: 10px;
    border: 3px solid #505050;
    margin: 10px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.post_img {
    margin: 0;
    margin-bottom: 15px;
}

.content_list {
    list-style-type: none;
    padding-left: 15px;
}

.content_list li a {
    text-decoration: none;
} 